Nav {
    color: darkslategray; 
    font-family: 'Dancing Script', cursive;
    border: 2px solid gray;
    border-style: dotted;
    background-color: lightcyan;
    font-weight: normal;
    width: 60%;
    text-align: center;
    margin: 25px auto auto auto;
}