body {
    /*background-image: url(./Notepad.jpg);*/
    font-family: 'Sree Krushnadevaraya', serif;
    color: darkslategray;
}
#subHeader {
    margin: 35px auto 0 auto;
    width: 80%;
    font-family: 'EB Garamond', serif;
    font-size: large;
    text-align: center;
    color: darkslategray;
}
/*.getStarted {
    background-color: white;
    font-family: 'EB Garamond', serif;
    font-size: medium;
    border: 2px solid gray;
    border-style: dotted;
}*/
#div3 {
    margin: 50px 0 10px 10px;
}
#div4 {
    margin: 10px 0 20px 10px;  
}
#currentListTitle {
    margin: 10px 0 20px 10px; 
}
#tasksRemaining {
    margin: auto;
    padding: 10px 10px 0px 10px;
    width: 20%;
    background-color: white;
    font-family: 'EB Garamond', serif;
    font-size: medium;
    border: 2px solid gray;
    border-style: dotted;
    text-align: center;
}
